@import '~antd/dist/antd.css';
.example>div>span{
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    position:absolute;
    z-index: 999;
    
}
.example{
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #fff;
    position:absolute;
    z-index:888;
}